    .row {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        height: 85px;
        background: rgb(32, 77, 55);
        background: linear-gradient(90deg, rgba(32, 77, 55, 1) 4%, rgb(8, 192, 91) 38%);
    }
    
    .lii {
        margin-top: -45px;
        max-width: 100%;
        max-height: max-content;
        position: fixed;
        display: flex;
        justify-content: center;
    }